.broadcast{
    display: flex;
    width: 100%;
}

.material-icons-outlined{
    transform: scale(0.7);
}

.brief{
    display: flex;
    flex-direction: column;
    background-image: url('../assests/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0 0 30px;
    height: 100%;
    width: 30%;
    color:white;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 1.2rem;
    margin-right: 25px;
}

.temp-ch{
    display: flex;
    gap: 2px;
    align-items: center;
}

.temp-ch p{
    font-size: 8px;
}

.toggle{
    display: flex;
    align-items: center;
}

.t-left{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 25px;
    z-index: 2;
}

.t-right{
    width: 14px;
    margin-left: -4px;
    height: 6px;
    background-color: #dcdcdc;
    z-index: 1;
    border-radius: 0 15px 15px 0;
}

.scroll{
    display: flex;
    padding: 7px;
    align-items: center;
}

.line{
    margin-left: 5px;
    width: 12px;
    height: 5px;
    background-color: white;
    z-index: 99;
    align-items: center;
    border-radius: 20px;
}

.bt{
    width: 5px;
    height: 5px;
    margin-left: 2px;
    border-radius: 25px;
    background-color: #9dc3ef;
}

.mid{
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0.8;
}

.mid-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.mid-2{
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    align-items: center;
    margin-top: -5px;
}

.mid12{
    display: flex;
    align-items: center;
}

.mid12 span:last-child{
    font-size: 11px;
    font-weight: 100;
    opacity: 0.8;
}

.bottom{
    padding: 1rem;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.bottom span:nth-child(2){
    font-size: 60px;
    margin-left: 7px;
}

.end{
    display: flex;
    justify-content: center;
    margin-right: 25px;
}

.end span:last-child{
    font-size: 16px;
    font-weight: 100;
}

.detail{
    background-color: #e4f1ff;
    margin-left: -25px;
    height: 100%;
    width: 75%;
    border-radius: 30px ;
}

.d-top{
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-left{
    display: flex;
    flex-direction: column;
}
.d-left span:first-child{
    font-size: 13px;
    margin-bottom: 5px;
}
.d-right{
    display: flex;
    align-items: center;
}

.d-right .material-icons-outlined{
    margin-right: 15px;
}

.date-temp span:first-child{
    font-size: 9px;
    color: #b9b9b9;
}

.prediction{
    margin: 0 1.6rem 1.4rem;
    border-radius: 25px;
    padding: 1rem;
    background-color: white;
}

.pred-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pred-1-right{
    display: flex;
}

.cont{
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #f1f1f1;
    margin-left: 1rem;
}

.cont span:first-child{
    margin-left: 5px;
}

.cont-1{
    color: #939393;
}

.pred-2{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.date-temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.more-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    padding: 15px 1.8rem 0;
}

.humidity, .wind, .precipitation{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    border-radius: 15px;
}
.det{
    padding: 1.6rem;
    font-size: 12px;
}
.h-1, .w-1, .p-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h-2, .w-2, .p-2{
    margin: 5px;
    display: flex;
    font-size: 14px;
    justify-content: center;
}

.bad{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
    font-size: x-small;
}

.w-3{
    display: flex;
    justify-content: center;
}
.p-3{
    display: flex;
    flex-direction: column;
}
.aa{
    display: flex;
    justify-content: space-between;
}
.nm,.gd{
    display: flex;
    justify-content: space-between;
}
.bb{
    display: flex;
    justify-content: space-between;
}
.nm-1{
    height: 7px;
    margin-top: 2px;
    border-radius: 10px;
    width: 100%;
    margin-right: 5px;
    background: #5c9ce5;
}

.nm-2{
    height: 7px;
    margin-top: 2px;
    border-radius: 10px;
    width: 100%;
    margin-right: 5px;
    background-color: #dcdcdc;
}
.nm-4{
    height: 7px;
    margin-top: 2px;
    border-radius: 10px;
    width: 100%;
    background-color: #dcdcdc;
}
.nm-3{
    height: 7px;
    margin-top: 2px;
    border-radius: 10px;
    width: 100%;
    background-color: #dcdcdc;
}

.nm-1-1{
    height: 7px;
    width: 40%;
    background-color: #5c9ce5;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}

.nm-3-1{
    height: 7px;
    width: 18%;
    background-color: #5c9ce5;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}

.nm-3-2{
    height: 7px;
    width: 50%;
    background-color: #5c9ce5;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}

.nm-3-3{
    height: 7px;
    width: 60%;
    background-color: #5c9ce5;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}

.gd span, .aa span{
    color: #bcbcbc;
}

.nm-3-4{
    height: 7px;
    width: 42%;
    background-color: #5c9ce5;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}

.stat{
    background-color: #5c9ce5;
    color: white;
    padding: 5px;
    border-radius: 10px;
}


.w-2{
    display: flex;
    flex-direction: column;
    font-size: x-small;
    color: #939393;
    position: relative;
}

