.App{
  padding: 4.3rem;
  /* color: white; */
}

.broadcast{
  display: flex;
  height: 81vh;
  background-color: pink;
  /* justify-content: center; */
  align-items: center;
  border-radius: 30px;
}