body {
  background: linear-gradient(0deg, rgba(181,216,255,1) 0%, rgba(180,215,254,1) 44%, rgba(179,214,253,1) 100%);
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
